.header {
    .header-1 {
        background: #fff;
        padding: 1.5rem 9%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
            font-size: 2.5rem;
            font-weight: bold;
            color: $black;
            i {
                color: $green;
            }
        }
        .search-form {
            width: 50rem;
            height: 5rem;
            border: $border;
            overflow: hidden;
            background: #fff;
            display: flex;
            align-items: center;
            border-radius: .5rem;

            input {
                font-size: 1.6rem;
                padding: 0rem 1.2rem;
                height: 100%;
                width: 100%;
                text-transform: none;
                color: $black;
            }
            label {
                font-size: 2.5rem;
                padding-right: 1.5rem;
                color: $black;
                cursor: pointer;
                &:hover {
                    color: $green;
                    font-size: 2.7rem;
                }
            }
        }
        .icons {
            div,
            a {
                font-size: 2.5rem;
                margin-left: 1.5rem;
                color: $black;
                cursor: pointer;
                &:hover {
                    color: $green;
                }
            }
            #search-btn {
                display: none;
            }
        }
    }
    .header-2 {
        background: $green;
        .navbar {
            text-align: center;
            a {
                color: #fff;
                display: inline-block;
                padding: 1.2rem;
                font-size: 1.7rem;
                &:hover {
                    background: $dark-color;
                }
            }
        }
        &.active {
            position: fixed;;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1000;
        }
    }
}
.bottom-navbar {
    text-align: center;
    background-color: $green;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
    a {
        font-size: 2.5rem;
        padding: 2rem;
        color: #fff;
        &:hover {
            background: $dark-color;
        }
    }
}